body {
    background-color: lightskyblue; 
}

h1, 
h2 {
    color: #313740;
    text-align: center;
    font-family: 'Lucida Sans', 'sans-serif';
}

a {
    color: #313740;
    font-size: 20px;
    font-family: 'Lucida Sans', 'sans-serif';
}

a:hover {
    color:seagreen;
    font-family: 'Lucida Sans', 'sans-serif';
}

.btn:focus, .btn:active, .btn:visited {
    outline:invert;
    font-size: 20px;
    box-shadow:inset;
    background-color: lightblue;
    text-align:justify;
}

#finalScore {
    font-family: 'Lucida Sans', 'sans-serif';
    font-weight: bold;
}

span {
    font-family: 'Lucida Sans', 'sans-serif';
}

p {
    font-family: 'Lucida Sans', 'sans-serif';
    text-align: center;
    font-size: 25px
}

#questionTitle {
    font-size: 20px;
    font-family: 'Lucida Sans', 'sans-serif';
}

#answerCheck {
    font-style: italic;
    color: red;
}